<p id="notice"><%= notice %></p>

<p>
  <strong>Brand name:</strong>
  <%= @site_info.brand_name %>
</p>

<p>
  <strong>Welcome message:</strong>
  <%= @site_info.welcome_message %>
</p>

<p>
  <strong>Page title:</strong>
  <%= @site_info.page_title %>
</p>

<p>
  <strong>Call to action:</strong>
  <%= @site_info.call_to_action %>
</p>

<%= link_to 'Edit', edit_site_info_path(@site_info) %> |
<%= link_to 'Back', site_infos_path %>
